@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
@font-face {
  font-family: 'BigNoodleTitling';
  src: url('./assets/fonts/big_noodle_titling_oblique.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

